// converting px to rem, with default 1 rem = 16px
@function pxToRem($pxsize, $rembase: 16) {
  @return ($pxsize / $rembase) + rem;
}

@mixin boxShadow($arg) {
  -webkit-box-shadow: $arg;
  box-shadow: $arg;
}

@mixin myFlex() {
  $prefixes: (-webkit-box, -ms-flexbox, -webkit-flex, flex);
  @each $prefix in $prefixes {
    display: $prefix;
  }
}

@mixin createFlex($justifyContent: false) {
  @if $justifyContent {
    -webkit-box-pack: $justifyContent;
    -ms-flex-pack: $justifyContent;
    justify-content: $justifyContent;
  }
}

$images: 
"PHP" 90% -24px,
"HTML" 81% -22px,
"JS" 81% -22px,
"CSS" 81% -22px,
"NODEJS" 54% -14px,
"GO" 54% -14px;

@each $name, $width, $marginLeft in $images {
  .#{$name} img {
    width: $width;
    height: 110px;
    margin-left: $marginLeft;
  }
}

$parapraphes: 
"PHP" 61%,
"HTML" 52%,
"JS" 57%,
"CSS" 55%,
"NODEJS" 24%,
"GO" 31%;

@each $name, $left in $parapraphes {
  .#{$name} p {
    position: absolute;
    top: 12%;
    left: $left;
  }
}