/* =Colors */
$c-black: #000;
$c-white: #fff;
$c-white9: rgba(255 , 255, 255, 0.9);
$c-cloudy: #a7a6a5;
$c-alto: #d3d3d3;
$c-ochre5: rgba(220, 130, 40, 0.5);
$c-ochre1: rgba(220, 130, 40, 0.1);
$c-ochre: #dc8228;
$c-sunshade: #ff9126;
$c-gray: #808080;
$c-chalice: #ababab;
$c-button: $c-cloudy;

/* =Breaks */
$break-xs: 480px;
$break-moblie: 650px;
$break-mid: 1100px;
$break-laptop: 1400px;
$break-high: 1600px;

/* =Grid */
$wrapper: 1302px;
$wrapper-high: 1200px;
$wrapper-laptop: 990px;
$wrapper-mid: 800px;
$wrapper-mobile: 480px;
$columns: 12;
$padding: 15px;
$grid-md: 768px;
$grid-lg: 992px;
$grid-xl: 1199px;
$large-width: 150px;

/* =Paddings, Margins */
$space-xs-small: 5px;
$space-x-small: 10px;
$space-small: 15px;
$space-standard: 20px;
$space-medium: 30px;
$space-large: 40px;
$space-x-large: 50px;
$space-xl-large: 60px;
$space-xxl-large: 65px;


/* =Buttons */
$button-small: 175px;
$button-medium: 294px;
$button-large: 375px;
