.main-content {
  &__wrapper {
    margin: 0 10%;
    padding-top: 5%;
    position: relative;

    .circle1 {
      position: absolute;
      width: 550px;
      top: 12%;
      right: -12%;
    }

    .circle2 {
      position: absolute;
      width: 500px;
      top: 31%;
      right: 39%;
    }

    .circle3 {
      position: absolute;
      width: 35%;
      top: -5%;
      left: -19%;
    }
  }
  &__intro {
    img {
      max-height: 100%;
      width: 450px;
      border-radius: $space-x-small;
      animation: slideIn 1.5s ease-in-out alternate;
      opacity: 0.8;
    }
    .content-window {
      @include boxShadow(
        $space-xs-small $space-xs-small $space-xs-small $c-alto
      );
      width: 60%;
      margin-left: 23%;
      border-radius: 1ch;
      margin-top: -488px;
      position: relative;
      background-color: $c-white9;
      padding: 1px $space-medium;
      animation: slideIn 1.5s ease-in-out forwards;

      .window__description {
        @include myFlex();

        img {
          width: 70px;
          height: 70px;
          display: inline;
        }
      }
    }
    .intro-bottom {
      text-align: right;
      padding-top: $space-standard;
      margin-right: 13%;

      input {
        background-color: $c-ochre5;
        height: $space-x-large;
        width: 173px;
        border-radius: $space-small;
        color: $c-white;
        font-size: pxToRem(20);
        position: relative;
      }
    }
  }
  &__knowledge {
    @include myFlex();
    margin-top: $space-x-large;

    .aboutme {
      width: 45%;
      margin-right: 5%;

      .bottom {
        @include myFlex();

        img {
          width: 150px;
          height: 69px;
        }
      }
    }

    .skills {
      width: 45%;
      margin-left: 5%;
      @include boxShadow($space-xs-small$space-xs-small$space-xs-small$c-alto);
      border-radius: 8px;

      .bar {
        margin-left: 35px;
        padding: 0;
        animation: slideRight 5s ease-in-out;

        .bars {
          position: relative;
          margin: 0 auto;
          padding: 0;
          height: 73px;
          color: $c-white;
        }
      }
    }
  }
}
