.main-footer {
  &__contact {
    background-image: url("../../../../assets/png/tło_gradient.png");
    padding: 0 10%;
    @include myFlex();
    position: relative;

    .circle13 {
      position: absolute;
      width: 24%;
      top: 0%;
      right: 30%;
    }

    .contact-form {
      width: 50%;

      form {
        display: block;
        margin: $space-x-large 0;
      }
      input,
      textarea {
        padding: $space-x-small;
        margin: 7px 0;
        width: 100%;
        font-size: pxToRem(20);
      }
      textarea {
        height: 200px;
      }
      #submit {
        background-color: $c-ochre5;
        color: $c-white;
        font-size: pxToRem(18);
        height: 47px;
        width: 240px;
        border-radius: $space-x-small;
      }
    }
    .contact-window {
      padding: $space-xs-small;
      @include myFlex();
      border-radius: 1ch;
      height: 103px;
      background-color: $c-white9;
      margin-top: 125px;
      margin-right: -77px;
      position: relative;

      #icon {
        width: 100px;
        height: 100px;
      }
    }

    .contact-right {
      margin-top: $space-large;

      .contact-info {
        text-align: end;

        img {
          max-height: 100%;
          max-width: 400px;
          margin-right: 0;
          border-radius: $space-x-small;
        }
      }
    }
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  20% {
    transform: rotate(360deg);
  }
  40% {
    transform: rotate(0);
  }
  60% {
    transform: rotate(0);
  }
  80% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(0px) scale(0.2);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}
