html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow: auto;
}

h3 {
  font-size: pxToRem(35);
  font-family: "Roboto", sans-serif;
  position: relative;
}

h4 {
  font-family: "Roboto", sans-serif;
}

span {
  color: $c-ochre5;
}

p,
li {
  font-size: pxToRem(20);
  font-family: "Roboto", sans-serif;
  position: relative;
}

.main-header {
  background-color: $c-alto;
  width: 100%;
  position: relative;
  display: inline-flex;

  .main-top {
    width: 30%;
    margin-left: 10%;

    h1 {
      font-size: pxToRem(50);
      color: $c-gray;
      font-family: "Piazzolla", serif;
    }
  }

  .main-nav {
    display: inline-flex;
    height: 150px;
    min-width: 1052px;
    @include createFlex(space-between);
    background-image: url("../../../../assets/background/_elementy_gradient_menu.png");

    .menu {
      .hamburger {
        display: none;
      }
    }

    ul {
      width: 65%;
      margin: auto 0;
      display: inline-flex;
      @include createFlex(space-between);

      li {
        list-style-type: none;
        color: $c-white;
        cursor: pointer;
      }
    }

    &__icons {
      border-left: 2px solid $c-white;
      margin: auto 0;
      width: 25%;
    }
  }
}
