@media only screen and (max-width: $break-laptop) {
  h3 {
    font-size: pxToRem(25);
  }

  h4 {
    font-family: "Roboto", sans-serif;
  }

  span {
    color: $c-ochre5;
  }

  p,
  li {
    font-size: pxToRem(15);
    font-family: "Roboto", sans-serif;
    position: relative;
  }

  .main-header {
    .main-top {
      width: 70%;
    }

    .main-nav {
      min-width: 400px;
      width: 250%;
      display: none;

      ul {
        width: 90%;

        li {
          cursor: pointer;
        }
      }
      .main-nav__icons {
        display: none;
      }
    }
  }

  .main-content__wrapper {
    .main-content__intro {
      #zdj {
        width: 300px;
      }

      .content-window {
        top: 130px;
        max-width: 395px;
        margin-bottom: 6px;
        margin-left: 36%;
      }

      .intro-bottom {
        margin-right: -5%;
        margin-top: 100px;
      }
    }

    .main-content__knowledge {
      .aboutme {
        margin-top: 26px;
      }
      .skills {
        margin-top: 26px;

        .bar {
          img {
            height: 88px;
          }
          .PHP p {
            left: 52%;
          }
          .HTML p {
            left: 42%;
          }
          .JS p {
            left: 50%;
          }
          .CSS p {
            left: 48%;
          }
          .NODEJS p {
            left: 12%;
          }
          .GO p {
            left: 25%;
          }
        }
      }
    }
  }

  .main-content__tools {
    .circle11 {
      position: absolute;
      width: 70%;
      left: -5%;
      top: 45%;
    }

    .tools-icons {
      flex-wrap: wrap;
    }
  }

  .main-content__wrapper {
    .circle2 {
      display: none;
    }

    .main-content__portfolio {
      .portfolio-projects {
        @include createFlex(space-evenly);

        .projects {
          padding: 2%;
          margin: 1%;
          min-width: 42%;

          .small {
            img {
              height: $space-large;
            }
          }
        }
      }
    }
    .main-content__blogposts {
      .blogpost {
        img {
          min-width: 46%;
          height: 193px;
          margin: auto 0;
        }
      }
    }
  }

  .main-footer__contact {
    flex-wrap: wrap-reverse;

    .contact-form {
      width: 100%;
      text-align: center;

      input,
      textarea {
        width: 100%;
      }

      #submit {
        display: block;
        margin: 0 auto;
      }
    }
    .contact-window {
      margin: 0;
      position: absolute;
      top: 17%;
      right: 16%;
    }

    .contact-right {
      img {
        min-width: 260px;
      }
    }
  }
}

@media only screen and (max-width: $break-mid) {
  .main-content__tools {
    .tools-icons {
      .icons,
      .icon-program {
        width: 20%;
      }
    }
  }

  .main-footer__contact {
    .contact-form {
      input,
      textarea {
        width: 65%;
      }
    }
  }
}

@media only screen and (max-width: $break-moblie) {
  .main-header {
    height: 80px;

    .main-top {
      h1 {
        font-size: pxToRem(25);
      }
    }
    .main-nav {
      background-image: none;
      width: 60%;
      text-align: end;
      display: block;
      z-index: 999;
      min-width: 200px;
      display: none;

      .menu {
        text-align: end;

        .hamburger {
          display: inline-flex;
          cursor: pointer;
          padding: 3px;
          margin: 7% 7% 0 0;
          &:hover {
            border-radius: 100%;
            background-color: $c-chalice;
          }
        }
      }

      ul {
        display: block;
        margin-top: $space-standard;
        text-align: end;
        min-width: none;
        width: 72%;

        li {
          cursor: pointer;
          font-size: pxToRem(20);
          color: $c-ochre;
        }
      }
      .main-nav__icons {
        display: none;
      }
    }
  }

  .main-content__wrapper {
    margin: 0 5%;
    padding-top: 5%;
    position: relative;

    .circle1 {
      display: none;
    }

    .main-content__intro {
      #zdj {
        width: 200px;
        display: block;
        margin-top: $space-small;
      }

      .content-window {
        margin-top: -217px;
        margin-left: 80px;
        padding: 0 5%;

        .window__description {
          img {
            width: $space-large;
            height: $space-large;
          }
        }
      }

      .intro-bottom {
        margin-top: 105px;
        margin-right: $space-xs-small;

        input {
          height: 34px;
          width: 166px;
          font-size: pxToRem(15);
        }
      }
    }
    .main-content__knowledge {
      @include myFlex();
      margin-top: $space-x-large;
      flex-wrap: wrap;

      .aboutme {
        margin: auto;
        width: auto;

        .bottom {
          img {
            width: 123px;
            height: 56px;
          }
        }
      }
      .skills {
        margin: auto;
        width: auto;
      }
    }
  }

  .main-content__tools {
    .tools-icons {
      width: 100%;
      .icons,
      .icon-program {
        height: 157px;
        width: 43%;
      }
    }
  }

  .main-content__wrapper {
    .main-content__portfolio {
      .portfolio-projects {
        .projects {
          .small {
            img {
              height: $space-x-large;
            }
          }
        }
      }
    }
    .main-content__blogposts {
      .blogpost {
        display: block;
        margin: $space-standard 0;
        width: 100%;

        img {
          width: 100%;
          height: 100%;
          display: block;
          margin: 0 auto;
        }
      }
    }
  }

  .main-footer__contact {
    margin: 0 auto;
    @include createFlex(center);

    .contact-form {
      input,
      textarea {
        width: 93%;
        font-size: pxToRem(15);
      }
    }

    .contact-window {
      top: 17%;
      right: 14%;
    }

    .contact-right {
      img {
        width: $button-medium;
      }
    }
  }
}
