.main-content__wrapper {
  .main-content__portfolio {
    .circle12 {
      position: absolute;
      width: 38%;
      top: 45%;
      right: 10%;
    }
    .portfolio-projects {
      @include myFlex();
      flex-wrap: wrap;
      @include createFlex(space-between);

      .projects {
        display: block;
        @include boxShadow(
          $space-xs-small $space-xs-small $space-xs-small $c-alto
        );
        padding: 1%;
        margin: 1% 0;
        text-align: center;
        border-radius: 3%;
        min-width: 29%;
        position: relative;
        background-color: $c-ochre1;

        &:hover {
          background-color: $c-sunshade;
          opacity: 0.4;
          position: relative;
          scale: 1.05;
          transition: 0.3s all ease;

          img {
            opacity: 0.1;
          }

          .hover {
            text-align: center;
            position: absolute;
            top: 12%;
            left: 18%;
            display: inherit;
            color: $c-white;
          }

          h3 {
            color: $c-black;
            font-weight: 1200;
          }
        }

        .case {
          width: 100%;
        }

        .hover {
          display: none;
        }

        .small {
          text-align: right;

          img {
            height: $space-xxl-large;
          }
        }
      }
    }
  }
  .main-content__blogposts {
    margin: $space-large 0;

    .blogpost {
      @include myFlex();
      margin: $space-standard 0;
      position: relative;

      img {
        min-width: 40%;
        max-height: 280px;
        border-radius: 2%;
        @include boxShadow(
          $space-xs-small $space-xs-small $space-xs-small $c-alto
        );
      }

      .blog__description {
        margin: 0 $space-standard;
        position: relative;

        .description__top {
          @include myFlex();
          @include createFlex(space-between);
        }
      }
    }
  }
}

// .blog__description a {
//   margin-left: 45%;
//   color: $c-ochre5;
//   font-size: pxToRem(20);
//   position: relative;
//   text-decoration: none;
// }

// .blog__description a:after {
//   content: " ";
//   position: absolute;
//   border: 2px solid $c-ochre5;
//   border-left: transparent;
//   border-bottom: transparent;
//   width: 17px;
//   height: 17px;
//   transform: rotate(45deg);
// }

// 118
