.main-content__tools {
  background-image: url("../../../../assets/png/tło_gradient.png");
  background-size: cover;
  position: relative;
  margin-top: 3%;
  padding: 1% 10% 7%;

  .circle11 {
    position: absolute;
    width: 28%;
    right: 0;
    top: 46%;
  }

  h3 {
    margin: $space-small;
  }

  .tools-icons {
    display: inline-flex;
    margin: 0 auto;
    @include createFlex(space-between);
    position: relative;
    width: 100%;

    .icons,
    .icon-program {
      background-color: $c-white;
      margin: $space-x-small;
      min-height: 163px;
      display: block;
      text-align: center;
      border-radius: 8%;
      @include boxShadow($space-xs-small$space-xs-small$space-xs-small$c-alto);
      animation: rotation ease-in-out 10s 5s infinite;
      width: 12%;
    }

    .icon-program img {
      height: $space-x-large;
      padding: $space-medium;
    }
  }
}
