.main-header {
  background-color: lightgrey;
  width: 100%;
  position: relative;
  display: inline-flex;
}

.main-top {
  width: 30%;
  margin: auto 65px;
  margin-left: 10%;
}

.main-top h1 {
  font-size: 60px;
  color: gray;
  font-family: 'Piazzolla', serif;
}

.main-nav {
  display: inline-flex;
  height: 150px;
  min-width: 1052px;
  background-image: url(../assets/background/_elementy_gradient_menu.png);
  justify-content: space-around;
}

.div .main-nav{
  margin: 0 auto;
}

.main-nav__icons {
  border-left: 2px solid white;
  margin: auto 0;
  width: 25%;
}

.main-nav ul {
  width: 65%;
  margin: auto 0;
  display: inline-flex;
  justify-content: space-around;
}
.main-nav ul li {
  list-style-type: none;
}

.main-nav ul li a {
  display: inline;
  color: white;
  font-size: 22px;
  text-decoration: none;
}