/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Piazzolla:wght@900&display=swap');


html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}


.main-header {
    background-color: lightgrey;
    width: 100%;
    position: relative;
    display: inline-flex;
}

.main-top {
    width: 30%;
    margin-left: 10%;
}

.main-top h1 {
    font-size: 60px;
    color: gray;
    font-family: 'Piazzolla', serif;
}

.main-nav {
    display: inline-flex;
    height: 150px;
    min-width: 1052px;
    background-image: url(assets/background/_elementy_gradient_menu.png);
    justify-content: space-around;
}

.hamburger {
    display: none;
}

.div .main-nav{
    margin: 0 auto;
}

.main-nav__icons {
    border-left: 2px solid white;
    margin: auto 0;
    width: 25%;
}

.main-nav ul {
    width: 65%;
    margin: auto 0;
    display: inline-flex;
    justify-content: space-around;
}
.main-nav ul li {
    list-style-type: none;
    color: white;
    cursor: pointer;
}

.main-nav ul li a {
    display: inline;
    color: white;
    font-size: 22px;
    text-decoration: none;
}

.main-content__wrapper {
    margin: 0 10%;
    padding-top: 5%;
    position: relative;
}

.circle1 {
    position: absolute;
    width: 550px;
    top: 12%;
    right: -12%;
}

.circle2 {
    position: absolute;
    width: 500px;
    top: 31%;
    right: 39%;

}

.circle3 {
    position: absolute;
    width: 35%;
    top: -5%;
    left: -19%;
}

.main-content__intro img {
    height: 500px;
    border-radius: 10px;
    animation: slideIn 1.5s ease-in-out alternate;
    opacity: .9;
}

.content-window {
    box-shadow: 5px 5px 5px lightgray;
    width: 60%;
    margin-left: 23%;
    border-radius: 1ch;
    margin-top: -488px;
    position: relative;
    background-color: rgba(255 , 255, 255, 0.9);
    padding: 1px 30px;
    animation: slideIn 1.5s ease-in-out forwards;
}

h3 {
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

h4 {
    font-family: 'Roboto', sans-serif;
}

span {
    color: rgba(220, 130, 40, 0.5);
}

p, li{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.window__description {
    display: flex;
    justify-content: right;
}
.window__description img {
    width: 70px;
    height: 70px;
    display: inline;
}

.intro-bottom {
    text-align: right;
    padding-top: 20px;
    margin-right: 13%;
}

.intro-bottom input {
    background-color: rgba(220, 130, 40, 0.5);
    height: 47px;
    width: 173px;
    border-radius: 15px;
    color: white;
    font-size: 19px;
    position: relative;
}

.main-content__aboutme__skills {
    display: flex;
    margin-top: 50px;
}

.main-content__aboutme {
    width: 45%;
    margin-right: 5%;
}
.aboutme__bottom {
    display: flex;
    justify-content: right;
}

.aboutme__bottom img {
    width: 150px;
    height: 69px;
}

.main-content__skills {
    width: 45%;
    margin-left: 5%;
    box-shadow: 5px 5px 5px lightgray;
    border-radius: 8px;
}
.bar {
    margin: 0;
    padding: 0;
    animation: slideRight 5s ease-in-out;
}

.PHP,
.HTML,
.JS,
.CSS,
.NODEJS,
.GO {
    position: relative;
    margin: 0 auto;
    padding: 0;
    height: 73px;
    color: white;
}


.PHP img {
    width: 90%;
    height: 110px;
    margin-left: -3%;
}

.HTML img,
.JS img,
.CSS img {
    width: 81%;
    height: 110px;
    margin-left: -3%;
}

.NODEJS img,
.GO img {
    width: 54%;
    height: 110px;
    margin-left: -2%;
}

.PHP p {
    position: absolute;
    top: 12%;
    left: 61%;
}

.HTML p {
    position: absolute;
    top: 12%;
    left: 52%;
}
.JS p {
    position: absolute;
    top: 12%;
    left: 57%;
}
.CSS p {
    position: absolute;
    top: 12%;
    left: 55%;
}

.NODEJS p{
    position: absolute;
    top: 12%;
    left: 24%;
}
.GO p {
    position: absolute;
    top: 12%;
    left: 31%;
}

.main-content__tools {
    background-image: url(assets/png/tło_gradient.png);
    background-size: cover;
    position: relative;
    margin-top: 3%;
    padding: 1% 10% 7%;
}

.circle11 {
    position: absolute;
    width: 28%;
    right: 0%;
    top: 46%;
}

.main-content__tools h3 {
    margin: 15px;
}

.tools-icons {
    display: inline-flex;
    margin: 0 auto;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.icon-react,
.icon-webpack,
.icon-express,
.icon-styled,
.icon-redux,
.icon-flexbox,
.icon-program {
    background-color: white;
    margin: 10px;
    min-height: 163px;
    display: block;
    text-align: center;
    border-radius: 8%;
    box-shadow: 5px 5px 5px lightgray;
    animation: rotation ease-in-out 10s 5s infinite;
    width: 12%;
}

.icon-program img {
    height: 46px;
    padding: 27px;
}

.portfolio-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-1,
.project-2,
.project-3,
.project-4,
.project-5,
.project-6 {
    display: block;
    box-shadow: 5px 5px 5px lightgray;
    padding: 1%;
    margin: 1% 0;
    text-align: center;
    border-radius: 3%;
    min-width: 29%;
    position: relative;
    background-color: rgba(220, 130, 40, 0.1);
}

.hover {
    text-align: center;
    position: absolute;
    top: 12%;
    left: 18%;
    color: white;
    display: none;
}

.project-1:hover, .project-1:hover img,
.project-2:hover, .project-2:hover img,
.project-3:hover, .project-3:hover img,
.project-4:hover, .project-4:hover img,
.project-5:hover, .project-5:hover img,
.project-6:hover, .project-6:hover img {
    background-color: rgb(255, 145, 38);
    opacity : 0.4;
    position: relative;
}

.project-1:hover,
.project-2:hover,
.project-3:hover,
.project-4:hover,
.project-5:hover,
.project-6:hover {
    scale: 1.05;
    transition: 1s all ease;
}

.project-1:hover .hover,
.project-2:hover .hover,
.project-3:hover .hover,
.project-4:hover .hover,
.project-5:hover .hover,
.project-6:hover .hover {
    text-align: center;
    position: absolute;
    top: 12%;
    left: 18%;
    display: inherit;
    color: white;
}

.project-1:hover h3,
.project-2:hover h3,
.project-3:hover h3,
.project-4:hover h3,
.project-5:hover h3,
.project-6:hover h3 {
    color: black;
    font-weight: 1200;
}

.circle12 {
    position: absolute;
    width: 38%;
    top: 45%;
    right: 10%;
}

.case {
    width: 100%;
}

.small {
    text-align: right;
}

.small img {
    height: 65px;
}

.main-content__blogposts {
    margin: 40px 0;
}

.blogpost-2 img,
.blogpost-1 img {
    min-width: 40%;
    max-height: 280px;
    border-radius: 2%;
    box-shadow: 5px 5px 5px lightgray;
}

.blogpost-2,
.blogpost-1 {
    display: flex;
    margin: 20px 0;
    position: relative;
}

.blog__description {
    margin: 0 20px;
    position: relative;
}

.blog__description a {
    margin-left: 45%;
    color: rgba(220, 130, 40, 0.5);
    font-size: 22px;
    position: relative;
    text-decoration: none;
}

.blog__description a:after {
    content: " ";
    position: absolute;
    border: 2px solid rgba(220, 130, 40, 0.5);
    border-left: transparent;
    border-bottom: transparent;
    width: 17px;
    height: 17px;
    transform: rotate(45deg);
}

.description__top {
    display: flex;
    justify-content: space-between;
}

.main-footer__contact {
    background-image: url(assets/png/tło_gradient.png);
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.circle13 {
    position: absolute;
    width: 24%;
    top: 0%;
    right: 30%;
}

.contact-form {
    width: 50%;
}
.contact-form form {
    display: block;
    margin: 50px 0;
}

.contact-form input, textarea {
    padding: 10px;
    margin: 7px 0;
    width: 100%;
    font-size: 20px;
}

.contact-form textarea {
    height: 200px;
}

#submit {
    background-color: rgba(220, 130, 40, 0.5);
    color: white;
    font-size: 18px;
    height: 47px;
    width: 240px;
    border-radius: 10px;
}

.contact-right img {
    height: 500px;
    margin-right: 0;
    border-radius: 10px;
}

#icon {
    width: 100px;
    height: 100px;
}

.contact-window {
    padding: 5px;
    display: flex;
    border-radius: 1ch;
    height: 103px;
    background-color: rgba(255 , 255, 255, 0.9);
    margin-top: 125px;
    margin-right: -77px;
    position: relative;
}

.contact-right {
    margin-top: 40px;
}

.contact-info {
    text-align: end;
}

@keyframes rotation {
    0% {
        transform: rotate(0)
    }
    20% {
        transform: rotate(360deg)
    }
    40% {
        transform: rotate(0)
    }
    60% {
        transform: rotate(0)
    }
    80% {
        transform: rotate(0)
    }
    100% {
        transform: rotate(0);
    }
}

@keyframes slideIn {
    0% {
      transform: translateX(0px) scale(.2);
    }
    100% {
      transform: translateX(0px) scale(1);
    }
}

@media only screen and (max-width: 1400px) {

    h3 {
        font-size: 25px;
    }
    
    h4 {
        font-family: 'Roboto', sans-serif;
    }
    
    span {
        color: rgba(220, 130, 40, 0.5);
    }
    
    p, li{
        font-size: 15px;
        font-family: 'Roboto', sans-serif;
        position: relative;
    }

    .main-top {
        width: 70%;
    }

    .main-nav {
        min-width: 400px;
        width: 250%;
    }

    .main-nav ul {
        width: 90%;
    }

    .main-nav ul li {
        cursor: pointer;
    }

    .main-nav__icons {
        display: none;
    }

    #zdj {
        height: 300px;
    }
    
    .content-window {
        top: 130px;
        max-width: 395px;
        margin-bottom: 6px;
        margin-left: 36%;
    }

    .intro-bottom {
        margin-right: -5%;
        margin-top: 100px;
    }

    .main-content__aboutme,
    .main-content__skills {
        margin-top: 26px;
    }

    .bar img {
        height: 88px;
    }


    .PHP p {
        left: 52%;
    }
    .HTML p {
        left: 42%;
    }
    .JS p{
        left: 50%;
    }
    .CSS p {
        left: 48%;
    } 
    .NODEJS p {
        left: 12%;
    }
    .GO p {
        left: 25%;
    }
    .tools-icons {
        flex-wrap: wrap;
    }
    
    .project-1, .project-2, .project-3, .project-4, .project-5, .project-6 {
        padding: 2%;
        margin: 1%;
        min-width: 42%;
    }
    .portfolio-projects {
        justify-content: space-evenly;
    }

    .blogpost-2 img, 
    .blogpost-1 img {
        min-width: 46%;
        height: 193px;
        margin: auto 0;
    }

    .contact-right img {
        min-height: 278px;
        min-width: 260px;
        
    }
    .main-footer__contact {
        flex-wrap: wrap-reverse;
    }
    .contact-form {
        width: 100%;
        text-align: center;
    }

    .contact-window {
        margin: 0;
        position: absolute;
        top: 17%;
        right: 16%;
    }
    .circle2 {
        display: none;
    }

    .circle11 {
        position: absolute;
        width: 70%;
        left: -5%;
        top: 45%;
    }

    .small img {
        height: 40px;
    }

    #submit {
        display: block;
        margin: 0 auto;
    }

    .contact-form input, textarea {
        width: 100%;
    }
}

@media only screen and (max-width: 1100px) {

    .icon-react, 
    .icon-webpack, 
    .icon-express, 
    .icon-styled, 
    .icon-redux, 
    .icon-flexbox, 
    .icon-program {
        width: 20%;
    }

    .contact-form input, textarea {
        width: 65%;
    }
}

@media only screen and (max-width: 650px) {

    /* .main-top {
        width: 30%;
        margin-left: 10%;
    } */
/* 
    .main-header {
        height: 80px;
    }

    .main-nav {
        background-image: none;
        width: 60%;
        text-align: end;
        display: block;
        z-index: 999;
        min-width: 200px;
    }
    
    .menu {
        text-align: end;
    }

    .hamburger {
        display: inline-flex;
        cursor: pointer;
        padding: 3px;
        margin: 7% 7% 0 0;
    }

    .hamburger:hover {
        border-radius: 100%;
        background-color: #ababab;
    }


    .main-nav ul {
        display: block;
        margin-top: 20px;
        text-align: end;
        min-width: none;
        width: 72%;
    }

    .main-nav ul li {
        cursor: pointer;
        font-size: 20px;
        color: #dc8228;
    }

    .main-nav__icons {
        display: none;
    }


    .main-top h1 {
        font-size: 25px;
    }
    .main-content__wrapper {
        margin: 0 5%;
        padding-top: 5%;
        position: relative;
    }
    h3 {
        font-size: 20px;
    }
    #zdj {
        height: 200px;
        display: block;
        margin-top: 15px;
    }

    .content-window {
        margin-top: -125px;
        margin-left: 0;
        padding: 0 5%;
    }

    .window__description img {
        width: 40px;
        height: 40px;
    }

    .intro-bottom {
        margin-top: 105px;
        margin-right: 5px;
    }

    .intro-bottom input {
        height: 34px;
        width: 166px;
        font-size: 15px;
    }

    .circle1 {
        display: none;
    }

    .main-content__aboutme__skills {
        display: flex;
        margin-top: 50px;
        flex-wrap: wrap;
    }

    .main-content__aboutme, .main-content__skills {
        margin: auto;
    }

    .main-content__aboutme {
        margin: auto;
        width: auto;
    }

    .aboutme__bottom img {
        width: 123px;
        height: 56px;
    }

    .main-content__skills {
        width: auto;
    }

    .icon-react, .icon-webpack, .icon-express, .icon-styled, .icon-redux, .icon-flexbox, .icon-program {
        height: 157px;
        width: 43%;
    }

    .small img {
        height: 30px;
    }

    .blogpost-2, .blogpost-1 {
        display: block;
        margin: 20px 0;
        width: 100%;
    }

    .blogpost-2 img, .blogpost-1 img {
        width: 100%;
        height: 100%;
        display: block;
        margin: 0 auto;
    }
    .blog__description {
        margin: 0;
    }
    .main-footer__contact {
        margin: 0 auto;
        justify-content: center;
    }

    .contact-right img {
        height: 305px;
        width: 292px;
    }

    .contact-window {
        top: 17%;
        right: 14%;
    }

    .contact-form input, textarea {
        width: 93%;
        font-size: 15px;
    }

} */ 